.about-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../images/black-and-white-city-night.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
