.about-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
  margin-top: 100px;
  background-image: url("../images/grey-stone.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .about-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 800px;
    width: 500px;
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
  }
}
