.footer-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  justify-content: center;
  gap: 10px;
  background-color: rgba(7, 11, 7, 0.8);

  .footer-links-container {
    display: flex;
    gap: 50px;

    .footer-link {
      color: #786bf2;
      font-style: italic;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
