.nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  border: 1px solid black;
  position: fixed;
  background-color: #00080d;
  height: 100px;
  justify-content: space-around;
  box-shadow: 5px 5px 0px 5px grey;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: wheat;

  h1 {
    font-family: "New Amsterdam", sans-serif;
    font-size: 60px;
    color: #786bf2;
    padding: 10px;
  }

  .nav-links-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;

    .nav-link-box {
      color: #786bf2;
      position: relative;
      font-family: "New Amsterdam", sans-serif;
      font-size: 25px;
      text-decoration: none;
      justify-content: center;
      width: 80px;
      height: 60px;
      margin-top: 20px;
      display: flex;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: wheat;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
    .hamburger-button {
      display: none;
      cursor: pointer;
    }
  }
}
