.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  .product-card-wrapper {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;

    .product-image {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

    .product-title {
      font-size: 1em;
      margin: 10px 0;
      color: #333;
    }

    .product-price {
      font-size: 1em;
      color: #007bff;
      margin: 5px 0;
    }

    .product-category {
      font-size: 0.9em;
      color: #777;
    }

    .decrement-btns-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100px;
      margin-left: 30%;

      button:hover {
        cursor: pointer;
      }
    }
  }
}
