.products-main-wrapper {
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 100%;

  .filter-wrapper {
    select {
      width: 170px;
      height: 40px;
      border-radius: 0;
      border: 2px solid #ccc;
      padding: 5px;
      font-size: 16px;
      background-color: white;
      cursor: pointer;
    }
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;

    .product-card {
      background-color: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;

      .product-image {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
      }

      .product-title {
        font-size: 1em;
        margin: 10px 0;
        color: #333;
      }

      .product-price {
        font-size: 1em;
        color: #007bff;
        margin: 5px 0;
      }

      .product-category {
        font-size: 0.9em;
        color: #777;
      }

      .quantity-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        button {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 30px;
          height: 30px;
          font-size: 1.2em;
          color: #333;
          cursor: pointer;
          outline: none;
          transition: background-color 0.2s;

          &:hover {
            background-color: #e0e0e0;
          }
        }

        span {
          width: 40px;
          text-align: center;
          font-size: 1.2em;
          margin: 0 10px;
        }
      }

      .submit-btn {
        background-color: #786bf2;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1em;
        transition: background-color 0.3s;

        &:hover {
          background-color: #4b3fb9;
          cursor: pointer;
        }
      }
    }
  }
}
